# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
.idea/*
!.idea/.gitignore

# IntelliJ
*.iml

# Android build
app/build/

# Native build
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# OS
.DS_Store

# Profiling
captures/

# Keystores
*.jks
*.keystore